/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 10px 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 10px 0px;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  gap:10px
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 20px 20px;
  text-align: center;
  display:flex;
  flex-direction:column;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}
#menu {
  display:flex;
  flex-direction:row;

}


/* -------  Join Form ------- */
#join{
  display:flex;
  flex-direction: column;
  gap:10px;
}
div img{
  width:100%;
}
form {
  border: 2px solid #6b1a22;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}
.form-input-box {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
  margin:0px 10px;
}

/* -------  Media Query ------- */
@media all and (min-width:480px){
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    display:flex;
    align-items:center;
  }
  .logo {
    font-size: 30px;
    align-self:center;
  }
  #join {
    flex-direction: row;
  }
  .img-column {
    flex:2;
  }
  .form-column {
    flex:1;
    align-self:center;
  }
 
  .group {
    flex-direction:row;
  }
  .text-with-img {
    align-self:center;
  }
  .blog-mother-box {
    display: flex;
    flex-direction: column;
    gap:15px;
  }
  .blog-son-box {
    display: flex;
    flex-direction: row;
    gap:15px;
  }
}